.section-book
    padding: 10rem
    background: linear-gradient(90deg, $color-brown-light,$color-brown-dark )

.book
    height: 50rem
    background: linear-gradient(115deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 53%, rgba(186,133,84,.5) 53%, rgba(161,79,3,.5) 100%), url(../img/bg-form.jpg) center  / cover no-repeat
    box-shadow: $box-shadow
    border-radius: .5rem
    overflow: hidden