.section-tours
    margin: 9rem auto 8rem

.container-block
    margin-bottom: 8rem

.card-tours
    height: 50rem
    perspective: 150rem
    position: relative
    &__side
        position: absolute
        top: 0
        left: 0
        height: 50rem
        backface-visibility: hidden
        transition: .6s all ease-out
        color: white
        box-shadow: $box-shadow
        border-radius: .5rem
        &_front
            background: $color-white
        &_back
            width: 100%
            background: green
            transform: rotateY(180deg)
            background: linear-gradient(120deg, $color-brown-light, $color-brown-dark)
            



    &:hover &__side_front
        transform: rotateY(-180deg)
    &:hover &__side_back
        transform: rotateY(0deg)
    &__img
        height: 22rem
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%)
        margin-bottom: 5rem
    
    &__title
        position: absolute
        font-size: 2.8rem
        letter-spacing: .2rem
        font-weight: 300
        text-decoration: uppercase
        text-align: right
        top: 17rem
        right: 0
    &__span
        background: linear-gradient(90deg, $color-brown-light, $color-brown-dark ) 
        padding: 1rem 2rem .3rem 2rem
        &_1
        &_2
            position: absolute
            top: 3.4rem
            right: 0
            padding-bottom: 1rem
    &__descr
        ul
            list-style: none
            margin: 0 auto
            li
                font-size: $font-size-p
                color: $color-grey
                text-align: center
                margin-bottom: 2rem
                span
                    border-bottom: 1px $color-grey solid
            &:not(:last-child)
                margin-bottom: 2rem
    &__backSide-box
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

    &__text
        margin-bottom: 8rem
        letter-spacing: .2rem
        text-transform: uppercase
        font-weight: 300
        text-align: center
        color: $color-white
        &_1
            font-size: $font-size-p
            
        &_2
            font-size: 6rem
            font-weight: 500
.btn-tours
    display: flex
    margin: 0 auto
    padding-bottom: 8rem




