$color-grey:grey
$color-brown-light:#BA8554
$color-brown-dark:#A14F03
$color-black:#000
$color-white:#fff
$box-shadow: 0px .4rem .4rem rgba(0, 0, 0, 0.3)
$font-size-p:1.6rem
$font-size-h2:3.6rem
$font-size-h3:2rem




